<section class="login-form">
    <form name="loginForm">
        <fieldset>
            <h2>- Please authenticate -</h2>
            <div class="row">
                <label for="email">Email:</label>
                <input id="email" type="email" required="required" />
            </div>
            <div class="row">
                <label for="psw">Password:</label>
                <input id="psw" type="password" required="required" />
            </div>
            <div class="row">
                <input type="submit" value="login" />
            </div>
        </fieldset>
    </form>
</section>
